{% extends 'homepage/base.html' %}
{% block title %}
    Log in
{% endblock %}
{% block active %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:homepage' %}" aria-current="page">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:about' %}">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a>
    </li>
{% endblock %}
{% block content %}
    <section id="login" class="py-16">
        <div class="container mt-5 login-form flex items-center justify-center">
            <form method="post" class="flex flex-col" id="login-form">
                {% csrf_token %}
                <div>
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
                <div class="mt-4">
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
                <div class="mt-4">
                    <input type="submit" value="Login" class="w-100 p-2 rounded-2" style="background-color: #3e535f; color: #a7d7fc; border: none">
                </div>
            </form>
        </div>
    </section>
{% endblock %}