{% extends 'homepage/base.html' %}
{% block content %}
<section class="flex justify-center items-center py-24">
  <form class="flex flex-col px-10 smpl:px-20" method="post">
    {% csrf_token %}
    <legend class="mb-6 font-bold text-lg text-neutral-700">Change Password</legend>
    <div class=" text-red-600">
        {% if messages %}
            {% for message in messages %}
                <small>{{ message }}</small>
            {% endfor %}
        {% endif %}
    </div>

      <div class="grid gap-3">
        <div class="grid grid-cols-1 smpl:grid-cols-2" >
            <label for="" class="col-span-2">Old password</label>
            {{form.old_password}}
        </div>
        <div class="grid grid-cols-1 smpl:grid-cols-2" >
            <label for="" class="col-span-2">New password</label>
            {{form.new_password1}}
        </div>
        <div class="grid grid-cols-1 smpl:grid-cols-2" >
            <label for="" class="col-span-2">Confirm new password</label>
            {{form.new_password2}}
        </div>
      </div>
        <input type="submit" 
            value="Change password" 
            class="w-40 p-2 border-none mt-5" 
            style="background: #3e535f; color: #a7d7fc" 
        />
        <!-- {{ field.help_text | safe }}
        {% if field.errors %}
        {{ field.errors }}
        {% endif %} -->
    </form>
    <!-- {% if form.errors %}
  <ul>
    {% for field_errors in form.errors.values %}
      {% for error in field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %} -->
</section>
{% endblock %}