{% extends 'homepage/base.html' %} {% load static %} {% block nav_home %}
<li class="text-lg">
  <a
    href="{% url 'homepage:about' %}"
    class="block py-2 pl-3 pr-4 text-white md:text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#462D1A] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent md:overline md:decoration-[#EABE7C] bg-[#462D1A] md:bg-[initial]"
    >Home</a
  >
</li>
{% endblock %} {% block content %}

<!-- Hero  -->
<section
  class="bg-[url('/static/images/hero_bg.jpg')] text-center text-white bg-no-repeat bg-cover bg-center"
  id="hero"
>
  <div class="container py-[5rem] w-[80vw] sm:w-[52vw] mx-auto">
    <h1
      class="text-[4rem] sm:text-[7rem] pb-5 leading-tight smp2:leading-[6rem] sm:leading-[8rem] font-bold"
      data-aos="fade-right"
      data-aos-duration="2000"
    >
      Worship With US
    </h1>
    <p class="text-3xl sm:text-4xl" data-aos="fade-up" data-aos-duration="2000">
      Our mission is to create a safe and inclusive space where all can experience the love of God.
    </p>
  </div>
</section>

<!-- Location -->
<section class="py-[8rem] px-10 sm:px-20 lg:px-32 bg-gray-100 overflow-x-hidden" id="home-location">
  <div class="mx-auto flex flex-col-reverse gap-y-10 md:gap-y-0 md:flex-row gap-x-20 xl:gap-x-36 items-start md:items-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7941.8814463275!2d-0.44040948118039003!3d5.575782350473663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdfbaedda8d54f7%3A0xd48e16c6c340829a!2sKasoa!5e0!3m2!1sen!2sgh!4v1682190284323!5m2!1sen!2sgh" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="border-4 border-white rounded-lg w-[14rem] h-[10rem] smpp:w-[28rem]  smpp:h-[14rem] md:w-[34rem] md:h-[20rem]"></iframe>
    <div class="flex flex-col gap-4">
      <h2
        class="text-4xl font-bold leading-[initial] sm:leading-loose"
        data-aos="fade-right"
        data-aos-duration="2000"
      >
        Our Location
      </h2>
      <p class="text-lg" data-aos="fade-left" data-aos-duration="2000">
        We are located in <span class="font-bold text-yellow-800">Kasoa, Otta-City.</span> Our doors are always open to visitors.
      </p>
      <a href="">
        <button class="bg-black py-2 px-12 text-xl text-white rounded-lg">
          Get help
        </button>
      </a>
    </div>
  </div>
</section>

<!-- Online Giving -->
<section class="py-[6rem] px-10 sm:px-20 lg:px-32 overflow-x-hidden" id="home-giving">
  <div
    class="mx-auto flex flex-col md:flex-row gap-x-20 xl:gap-x-36 items-start md:items-center"
  >
    <div
      class="flex flex-col gap-4"
    >
      <h2
        class="text-4xl font-bold"
        data-aos="fade-right"
        data-aos-duration="2000"
      >
        Online Giving
      </h2>
      <p class="text-lg" data-aos="fade-right" data-aos-duration="2000">
        Support the church and its mission by giving online.
      </p>
      <a href="#" class="">
        <button
          class="bg-[#462D1A] text-white py-2 px-12 rounded-lg text-xl"
          data-aos="fade-up"
          data-aos-duration="2000"
          data-tooltip-target="tooltip-bottom"
          data-tooltip-placement="bottom"
          data-modal-target="crypto-modal"
          data-modal-toggle="crypto-modal"
        >
          Give
        </button>
      </a>
    </div>
    <div
      class="shrink-0 mt-16 lg:mt-0"
      data-aos="fade-left"
      data-aos-duration="2000"
    >
      <img
        src="{% static 'images/online_giving_img.jpg' %}"
        alt=""
        class="md:w-[45vw]"
      />
    </div>
  </div>
</section>

<!-- Prayer Request Submission -->
<section class="py-[6rem] px-10 sm:px-20 lg:px-32 overflow-x-hidden" id="home-giving">
  <div
    class="mx-auto flex flex-col md:flex-row-reverse gap-x-20 xl:gap-x-36 items-start md:items-center"
  >
    <div
      class="flex flex-col gap-4"
    >
      <h2
        class="text-4xl font-bold"
        data-aos="fade-up"
        data-aos-duration="1400"
      >
        Prayer Request Submission
      </h2>
      <p class="text-lg" data-aos="fade-up" data-aos-duration="2000">
        If you have a prayer request, please submit it here and we will pray for you.
      </p>
      <a href="#" class="">
        <button
          class="bg-[#462D1A] text-white py-2 px-12 rounded-lg text-xl"
          data-aos="fade-up"
          data-aos-duration="3000"
        >
          Request
        </button>
      </a>
    </div>
    <div
      class="shrink-0 mt-16 lg:mt-0"
      data-aos="fade-right"
      data-aos-duration="2000"
    >
      <img
        src="{% static 'images/prayer_request_img.jpg' %}"
        alt=""
        class="md:w-[45vw]"
      />
    </div>
  </div>
</section>

<!-- Leaders -->
<section class="py-0 sm:py-[6rem]" id="leaders">
  <div class="container w-[80vw] mx-auto">
    <h2
      class="text-4xl font-bold"
      data-aos="fade-down"
      data-aos-duration="2000"
    >
      Our Cherished Leaders
    </h2>
    {% if leaders %}
    <div class="mt-12 flex flex-nowrap overflow-x-scroll slider-parent" id="leaders-scroll-area">
      {% for leader in leaders %}
      <div
        class="flex-shrink-0 flex-grow-0 bg-white rounded-lg dark:bg-gray-800 dark:border-gray-700 leader-card min-w-[220px]"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        <div class="flex justify-end px-4 pt-4"></div>
        <div class="flex flex-col items-center pb-10">
          {% if leader.member.picture %}
          <img
            class="w-24 h-24 object-cover mb-3 rounded-full"
            src="{{ leader.member.picture.url }}"
            alt="{{ leader.title }} {{leader.member.first_name}}{{ leader.member.last_name }}"
          />
          {% else %}
          <img
            class="w-24 h-24 object-cover mb-3 rounded-full shadow-lg"
            src="{% static 'images/no_image.png' %}"
            alt="{{ leader.title }} {{leader.member.first_name}}{{ leader.member.last_name }}"
          />
          {% endif %}
          <h5
            class="mb-1 text-xl text-center font-medium text-gray-900 dark:text-white"
          >
            {% if leader.title %}{{ leader.title }}{% endif %}
            {{leader.member.first_name}} {{ leader.member.last_name }}
          </h5>
          <span class="text-sm text-gray-500 dark:text-gray-400"
            >{{ leader.position }}</span
          >
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %} {% endif %}
  </div>
</section>
{% endblock %}
