{% extends 'homepage/base.html' %} {% load static %} {% block nav_home %}
<li class="text-lg">
  <a
    href="{% url 'homepage:about' %}"
    class="block py-2 pl-3 pr-4 text-white md:text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#462D1A] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent md:overline md:decoration-[#EABE7C] bg-[#462D1A] md:bg-[initial]"
    >Home</a
  >
</li>
{% endblock %} {% block content %}

<section
  class="bg-[url('/static/images/hero-bg.jpg')] text-center text-white bg-no-repeat bg-cover bg-center" id="hero"
>
  <div class="container py-[5rem] w-[80vw] sm:w-[52vw] mx-auto">
    <h1
      class="text-[4rem] sm:text-[7rem] pb-5 leading-tight smp2:leading-[6rem] sm:leading-[8rem] font-bold"
      data-aos="fade-right"
      data-aos-duration="2000"
    >
      Worship With US
    </h1>
    <p class="text-3xl sm:text-4xl" data-aos="fade-up" data-aos-duration="2000">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis animi
      soluta eum obcaecati nisi consequatur, alias doloribus.
    </p>
  </div>
</section>
<section class="py-[8rem] bg-gray-100" id="home-location">
  <div class="container w-[80vw] lg:w-[40vw] mx-auto xl:ml-[45rem]">
    <h2
      class="text-4xl font-bold leading-[initial] sm:leading-loose mb-7"
      data-aos="fade-right"
      data-aos-duration="2000"
    >
      Our Location
    </h2>
    <p class="text-lg mb-7" data-aos="fade-left" data-aos-duration="2000">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem?
    </p>
    <a href="">
      <button class="bg-black py-2 px-12 text-xl text-white rounded-lg">
        Get help
      </button>
    </a>
  </div>
</section>
<!-- Online Giving -->
<section class="py-[6rem]" id="home-giving">
  <div
    class="container flex md:flex-row flex-col justify-between md:items-center w-[80vw] mx-auto"
  >
    <div
      class="lg:mr-[9rem] flex flex-col justify-between min-h-[30vh] sm:min-h-[25vh] md:min-h-[30vh] lg:min-h-[35vh]"
    >
      <h2
        class="text-4xl font-bold"
        data-aos="fade-right"
        data-aos-duration="2000"
      >
        Online Giving
      </h2>
      <p class="text-lg" data-aos="fade-right" data-aos-duration="2000">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem?
      </p>
      <a href="" class="">
        <button
          class="bg-[#462D1A] text-white py-2 px-12 rounded-lg text-xl"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          Give
        </button>
      </a>
    </div>
    <div
      class="shrink-0 mt-16 lg:mt-0"
      data-aos="fade-left"
      data-aos-duration="2000"
    >
      <img
        src="{% static 'images/online-giving-img.jpg' %}"
        alt=""
        class="md:w-[45vw]"
      />
    </div>
  </div>
</section>
<!-- Prayer Request Submission -->
<section class="pb-[6rem] sm:py-[6rem]" id="home-prayer">
  <div
    class="container flex lg:flex-row-reverse flex-col-reverse justify-between lg:items-center w-[80vw] mx-auto"
  >
    <div
      class="flex flex-col justify-between min-h-[35vh] sm:min-h-[25vh] md:min-h-[30vh] lg:min-h-[40vh] mt-12 lg:mt-0 right-content"
    >
      <h2
        class="text-4xl font-bold"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        Prayer Request Submission
      </h2>
      <p class="text-lg" data-aos="fade-up" data-aos-duration="2000">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem?
      </p>
      <a href="" class="">
        <button
          class="bg-[#462D1A] text-white py-2 px-12 rounded-lg text-xl"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          Request
        </button>
      </a>
    </div>
    <div
      class="lg:mr-[9rem] shrink-0 mt-16 lg:mt-0 left-content"
      data-aos="fade-right"
      data-aos-duration="2000"
    >
      <img
        src="{% static 'images/prayer-request-img.jpg' %}"
        alt=""
        class="lg:w-[45vw]"
      />
    </div>
  </div>
</section>
<!-- Leaders -->
<section class="py-0 sm:py-[6rem]" id="home-leaders">
  <div class="container w-[80vw] mx-auto">
    <h2
      class="text-4xl font-bold"
      data-aos="fade-down"
      data-aos-duration="2000"
    >
      Our Cherished Leaders
    </h2>
    {% if leaders %}
    <div class="mt-12 grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-8">
      {% for leader in leaders %}
      <div
        class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 leader-card"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        <div class="flex justify-end px-4 pt-4"></div>
        <div class="flex flex-col items-center pb-10">
          {% if leader.member.picture %}
          <img
            class="w-24 h-24 mb-3 rounded-full shadow-lg"
            src="{{ leader.member.picture.url }}"
            alt="{{ leader.title }} {{leader.member.first_name}}{{ leader.member.last_name }}"
          />
          {% else %}
          <img
            class="w-24 h-24 mb-3 rounded-full shadow-lg"
            src="{% static 'images/no-image.png' %}"
            alt="{{ leader.title }} {{leader.member.first_name}}{{ leader.member.last_name }}"
          />
          {% endif %}
          <h5
            class="mb-1 text-xl text-center px-4 font-medium text-gray-900 dark:text-white"
          >
            {% if leader.title %}{{ leader.title }}{% endif %}
            {{leader.member.first_name}} {{ leader.member.last_name }}
          </h5>
          <span class="text-sm text-gray-500 dark:text-gray-400"
            >{{ leader.position }}</span
          >
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %} {% endif %}
  </div>
</section>
{% endblock %}
