{% extends 'homepage/base.html' %}

{% block title %}
    Fellowship Groups
{% endblock %}
{% block active %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:homepage' %}" aria-current="page">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:about' %}">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a>
    </li>
{% endblock %}
{% block content %}
    <section id="music">
        <div class="music-shape d-flex justify-content-between align-items-center animate__animated animate__fadeInLeft">
            <h3 class="primary-brown">MUSIC</h3>
            <div class="circ-line rounded-circle">
                <span class="inside-circ rounded-circle ">
                
                </span>
            </div>
        </div>
        <div class="container">
            <a href="" class="animate__animated animate__fadeIn">
                <button class="btn">Join us</button>
            </a>
        </div>
    </section>
    <section id="men-fellow">
        <div class="container">
            <div class="square d-flex flex-column justify-content-evenly align-items-center">
                <div>
                    <h1 class="text-center fw-bold">MEN</h1>
                    <h2 class="text-center">FELLOWSHIP</h2>
                </div>
                <div>
                    <a href="">
                        <button class="btn btn-dark">Get more info</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="women-fellow" class="">
        <h1>Women</h1>
        <h1>fellowship</h1>
        <a href="">
            <button class="btn">Get more info</button>
        </a>
    </section>
{% endblock %}