{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}
    Chats
{% endblock %}
{% block content %}
    
    <!-- <div class="comment row p-2 shadow">
        <div class="col-2">
            <img src="{% static 'images/unsplash_hgO1wFPXl3I.jpg' %}" alt="" class="rounded-circle" width="80rem" height="80rem" />
        </div>
        <div class="col-8">
            <h6 class="name fw-bold">Frank Amo</h6>
            <p class="mt-4">Great by God's grace, Hannah</p>
        </div>
        <div class="col-2 ">
            <small class="bg-info text-center text-light rounded-4 px-4 py-1 date">Today</small>
        </div>
    </div>
    <div class="comment row p-2 shadow">
        <div class="col-2">
            <img src="{% static 'images/unsplash_hgO1wFPXl3I.jpg' %}" alt="" class="rounded-circle" width="80rem" height="80rem" />
        </div>
        <div class="col-8">
            <h6 class="name fw-bold">Mavis Ansah</h6>
            <p class="mt-4">Can we please get the contact info of the guest?</p>
        </div>
        <div class="col-2 ">
            <small class="bg-info text-center text-light rounded-4 px-4 py-1 date">Today</small>
        </div>
    </div> -->
{% endblock %}
{% block canvas %}
<!-- <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel" style="color: #3e535f">Chats</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% if chats %}
        {% block banner_head %}
            {{ chat.name }}
        {% endblock %}
            
            {% for chat in chats %}
                
                <div class="">
                    <i class="bi-chat-fill mr-3" style="font-size: 2rem; color: #3e535f"></i>
                    <a href="{% url 'chats:chat-detail' chat.pk %}" class="text-decoration-none chats-list">
                        <span class="font-bold">{{ chat.name }}</span>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div> -->
{% endblock %}