{% extends 'chats/base.html' %}
{% load humanize %}

{% block title %}
    Chat
{% endblock %}

{% block content_chat %}
<!-- {% if chat.comment_set.all %}
        
{% for comment in chat.comment_set.all %}
    
    <div class="comment grid p-2 shadow">
        <div class="">
            <img src="{{ request.user.picture.url }}" alt="" class="rounded-full" width="80rem" height="80rem" />
        </div>
        <div class="">
            <h6 class="name font-bold">{{ comment.user.first_name }} {{ comment.user.last_name }}</h6>
            <p class="mt-4">{{ comment.message|safe }}</p>
        </div>
        <div class="">
            <small class="bg-blue-300 text-center text-white rounded-4 px-4 py-1 date">{{ comment.datetime|naturaltime }}</small>
        </div>
    </div>
{% endfor %}

{% else %}
    no comment yet
{% endif %}
    
{% endblock %}
{% block canvas %}
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel" style="color: #3e535f">Chats</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% if chats %}
            
            {% for chat in chats %}
                
                
                <div class="">
                    <i class="bi-chat-fill mr-3" style="font-size: 2rem; color: #3e535f"></i>
                    <a href="{% url 'chats:chat-detail' chat.pk %}" class="text-decoration-none chats-list">
                        <span class="font-bold">{{ chat.name }}</span>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div> -->
    <div class="w-6/12 mx-auto my-4 flex justify-between items-start border-gray-300 px-6 py-4 border rounded-br-[5rem] rounded-tl-2xl rounded-bl-2xl shadow-md bg-white">
        <div class="w-2/12">
            <img src="{% static 'images/no_image.jpeg' %}" alt="" class="h-[70px] w-[70px] rounded-full">
        </div>
        <div class="w-10/12">
            <h4 class="text-primary-brown">Mavis Ansah</h4>
            <p class="mt-3">How is everyone</p>
        </div>
        <div class="w-2/12 ml-4">
            <small class="bg-blue-500 text-white py-[0.15rem] px-7 rounded-lg">Today</small>
        </div>
    </div>
    <div class="w-6/12 mx-auto my-4 flex justify-between items-top border-gray-300 px-6 py-4 border rounded-br-[5rem] rounded-tl-2xl rounded-bl-2xl shadow-md bg-white">
        <div class="w-2/12">
            <img src="{% static 'images/no_image.jpeg' %}" alt="" class="h-[70px] w-[70px] rounded-full">
        </div>
        <div class="w-10/12">
            <h4 class="text-primary-brown">Frank Amo</h4>
            <p class="mt-3">I am doing well by God's grace</p>
        </div>
        <div class="w-2/12 ml-4 ">
            <small class="bg-blue-500 text-white py-[0.15rem] px-7 rounded-lg">Yesterday</small>
        </div>
    </div>
{% endblock %}
{% block banner_head %}
    {{ chat.name }}
{% endblock %}

