{% extends 'homepage/base.html' %} {% load static %} {% block title %} About us
{% endblock %} {% block nav_about %}
<li class="text-lg">
  <a
    href="{% url 'homepage:about' %}"
    class="block py-2 pl-3 pr-4 text-white md:text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#462D1A] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent md:overline md:decoration-[#EABE7C] bg-[#462D1A] md:bg-[initial]"
    >About</a
  >
</li>
{% endblock %} {% block content %}

<div
  class="bg-[url('/static/images/about_img.jpg')] bg-cover bg-no-repeat h-[30vh] w-full bg-center border-b-8 rounded-bl-[60%] rounded-br-[60%] animate__fadeIn"
></div>
<!-- Mission -->
<section class="py-[6rem] relative overflow-x-hidden">
  <div
    class="container flex md:flex-row flex-col justify-between md:items-center w-[80vw] mx-auto"
  >
    <div class="lg:mr-[9rem]">
      <h2
        class="text-4xl font-bold mb-2 text-[#877B7B]"
        data-aos="fade-down-right"
        data-aos-duration="2000"
      >
        Mission
      </h2>
      <p class="text-xl" data-aos="fade-down-right" data-aos-duration="2000">
        To be a welcoming community of faith, sharing God's love and serving others.
      </p>
    </div>
    <div class="shrink-0 mt-16 lg:mt-0">
      <img
        src="{% static 'images/mission_img.jpg' %}"
        alt=""
        class="w-[100vw] md:w-[45vw] relative z-10"
        data-aos="fade-left"
        data-aos-duration="2000"
      />
      <div
        class="absolute top-[20rem] right-[-12rem] sm:top-[18rem] md:top-[12rem] lg:top-[6rem] z-[2] sm:right-[-10rem] lg:right-[-10rem]"
      >
        <img
          src="{% static 'images/mission_img_2.jpg' %}"
          alt=""
          class="w-[100vw] md:w-[45vw]"
          data-aos="fade-left"
          data-aos-duration="3000"
        />
      </div>
    </div>
  </div>
</section>
<!-- Vision -->
<section class="pt-[6rem] sm:mt-10 relative" id="about-vision">
  <div
    class="container flex md:flex-row-reverse flex-col justify-between md:items-center w-[80vw] mx-auto"
  >
    <div class="right-content">
      <h2
        class="text-4xl font-bold mb-2 text-[#877B7B]"
        data-aos="fade-down"
        data-aos-duration="2000"
      >
        Vision
      </h2>
      <p class="text-xl" data-aos="fade-up" data-aos-duration="2000">
        To become a hub of spiritual growth and renewal, equipping and sending out disciples to make a difference in the world.
      </p>
    </div>
    <div
      class="mt-16 lg:mt-0 md:mr-[3rem] lg:mr-[9rem] left-content"
      data-aos="fade-right"
      data-aos-duration="2000"
    >
      <img
        src="{% static 'images/vision_img.jpg' %}"
        alt=""
        class="relative z-10 shrink-0"
      />
    <img
      src="{% static 'images/vision_img_2.jpg' %}"
      alt=""
      class="w-[100vw] h-[15rem] relative bottom-36 right-36 z-0 shrink-0"
    />
    </div>
  </div>
</section>

{{ current_year }} {% endblock %}
