{% extends 'homepage/base.html' %}
{% block title %}
    Contact us
{% endblock %}
{% block active %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:homepage' %}" aria-current="page">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:about' %}">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'homepage:contact' %}">Contact</a>
    </li>
{% endblock %}
{% block content %}
    <section id="contact">
        <div class="banner">
            <h3 class="text-light text-center fw-bold">Christ is always available</h3>
        </div>
        <div class="d-flex">
            <div class="form">
                <h3 class="fw-bold fs-2 mb-2 mt-5">Means to reach us</h3>
                <form action="" class="form-group animate__animated animate__fadeInUp">
                    <label class="form-label mt-4" for="">Name</label>
                    <input type="text" class="form-control" placeholder="Your name">
                    <label class="form-label mt-4" for="">Email</label>
                    <input type="email" class="form-control" placeholder="you@mail.com">
                    <label class="form-label mt-4" for="">Phone number</label>
                    <input type="tel" class="form-control" placeholder="Your name">
                    <label class="form-label mt-4" for="" >Write your message</label>
                    <textarea class="form-control" name="" placeholder="Your message..." id="" cols="30" rows="5"></textarea>
                    <input class="btn btn-dark mt-4 w-100" type="submit" value="Send" style="background-color: burlywood; border: none">
                </form>
                <h3 class="text-center my-5">Or</h3>
                <div class="d-flex flex-column align-items-start" style="width: 30%; margin-inline: auto">
                    
                    <div class="d-flex justify-content-center">
                        <img src="/static/images/🦆 icon _phone_.svg" alt="" width="40rem" style="margin-inline-end: 0.5rem;">
                        <p>0994545454</p>
                    </div>
                    <div class="d-flex justify-content-center mb-5 mt-4">
                        <img src="/static/images/🦆 icon _mail opened_.svg" alt="" width="40rem" style="margin-inline-end: 0.5rem;">
                        <p>victoriouslci@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="right-banner">

            </div>
        </div>
    </section>
{% endblock %}